#movieDashboard {
    display: flex;
    margin-top: 5%;
}

#searchBar {
    margin-top: 5%;
    width: 30%;
    text-align: center;
}

.button {
    margin-top: 15px;
}

/* #previousPosters {
   
} */